body {
  background-color: #272929;
}

* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

#header {
  background-color: #272929;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#container {
  width: 95vw;
  overflow: hidden;
}

#header input {
  background-color: #3D3C3F;
  outline: none;
  border: none;
}

#footer {
  background: #272929;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#footer-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20rem;
  box-sizing: border-box;
}

#logo {
  background: 50% / cover no-repeat;
  width: 13rem;
  height: 10rem;
}

#sectionDivision {
  width: 100vw;
  transform: translate(cover);
}

#footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

#footer-list span {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin: 0.5rem;
}

@media screen and (max-width: 576px) {
  #footer-list {
    flex-direction: column;
  }
}

#social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
  box-sizing: border-box;
}

#social-media svg {
  width: 2rem;
  height: 2rem;
}